body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.button{
  min-width:10vw;
  
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 50px;
  max-height: max-content;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  font-weight: 600;
}


@media screen and (max-width: 650px) {
  .column {
    width: 80%;
    display: block;
  }
}