
body.dark {
  background-color: rgb(54, 54, 54);
  color: rgb(181, 176, 176);
}


body {
  background-color: rgb(199, 195, 195);
  color: rgb(57, 56, 56);
}

body.dark .button {
  border: 1;
  outline: 0;
  
  width: 20vw;
  padding: 8px;
  color: rgb(255, 255, 255);
  background-color: rgba(138, 88, 88, 0.514);
  text-align: center;
  cursor: pointer;
  border: 2px solid #fff;
  }
  
  body.dark .button:hover {
  background-color: rgba(170, 146, 146, 0.536);
  border: 2px solid #fff;
  }

body .button {
  border: 2px solid #333;
  text-align: center;
  outline: 0;
  border-radius: 5px;
  width: 25vw;
  color: black;
  background-color: rgba(208, 176, 176, 0.799);
  text-align: center;
  cursor: pointer;
}

body .button:hover {
  background-color: rgba(193, 128, 128, 0.578);
  border: 2px solid #fff;
  
}

body.dark .textlink{
color:#fff;
font-family:"Inter";
font-size:"16px";
font-weight:"400";
line-height:"24px";
text-align:"left";
letter-spacing:"0.01px";
}

body.dark .textlink:hover{
color:rgb(193, 137, 137);
cursor: pointer;
}

body .textlink{
color:#333;
font-family:"Inter";
font-size:"16px";
font-weight:"400";
line-height:"24px";
text-align:"left";
letter-spacing:"0.01px";
}

body .textlink:hover{
color:rgb(144, 91, 91);
cursor: pointer;
}


body.dark .card{
box-shadow: 0 4px 8px 0 rgba(255, 252, 252, 0.2);
padding-top: 10px;
background-color: rgba(99, 57, 57, 0.752);
margin: 20px;
}

body .card{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding-top: 10px;
background-color: rgba(209, 182, 182, 0.752);
margin: 20px;
}

body .topbar{
background-color: #fff;
border: 2x solid #333;
}

body.dark .topbar{
  background-color: #333;
  border: 2px solid #fff;
}

body.dark .skillcard{
  background-color: rgba(110, 59, 59, 0.729);
  border: 3px SOLID #000000;
}

body.dark .skillcard:hover{
  border: 3px SOLID #949090;
}

body .skillcard{
  background-color: rgba(216, 177, 177, 0.713);
  border: 3px SOLID #000000;
}

body .skillcard:hover{
  border: 3px SOLID #f3f3f3;
}

body.dark .home{
  background-image:linear-gradient(180deg, rgb(60, 15, 15), rgb(107, 101, 101));
}

body .home{
  background-image:linear-gradient(180deg, rgba(167,83,83,1), rgb(220, 220, 220));
}

body.dark .background{
  background-image:linear-gradient(45deg, rgb(39, 38, 38), rgb(52, 6, 6));
}

body .background{
  background-image:linear-gradient(0deg, rgba(204, 129, 129, 0.815), rgb(222, 203, 203));
}

body .mid-background{
  background-color: rgba(173, 136, 136, 0.5);
}

body.dark .mid-background{
  background-color: rgb(32, 28, 28);
}

body .small-background{
  background-color: rgb(230, 191, 191);
}

body.dark .small-background{
  background-color: rgb(54, 36, 36);
}

body .text{
  color:rgb(0, 0, 0)
}
body.dark .text{
  color:#fff;
}


body .field{
  background-color: #fff;
  color:#333;
}
body.dark .field{
  background-color: #333;
  color:#fff;
}

body .logo{
  color: #9a4c4c
}

body.dark .logo{
  color: #dadada
}